* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(../img/Estrelas.png);
    background: #000000 rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
}

/*-------------------------------------Começo da Nav-------------------------------------------*/

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #090E12;
    text-align: center;
    max-width: 5000vh;
    height: 162px;
}

.navbar_logo {
    max-width: 150px;
    height: 150px;
    vertical-align: middle;
}

nav ul li a {
    display: inline;
    margin-right: 50px;
    color: white;
    text-decoration: none;
    vertical-align: middle;
}

li {
    display: inline;
    margin: 0 auto;
    margin-right: 20px;
}

a {
    margin: 0 auto;
    left: 10px;
    text-decoration: none;
    color: white;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 46.48px;
    width: 1107.43px;
    height: 19px;
    left: calc(50% - 1107.43px/2 - 8.26px);
    top: 108.4px;
}

a:hover {
    transition: 0.5s;
    background: linear-gradient(270deg, #BBB5AA 0%, #656D63 41.91%, #122649 85.23%);
    border-radius: 8px;
}

.navbar_botao_terra {
    width: 95px;
    height: 40px;
    border-radius: 25px;
    color: white;
    background: linear-gradient(270deg, #BBB5AA 0%, #656D63 41.91%, #122649 85.23%);
}

/*-------------------------------------Fim da Nav-------------------------------------------*/

h1 {
    background-color: yellow;
    margin: 0 auto;
}